<h1>Enroll students to <%= @curriculum.name %></h1>

<div id="not-enrolled">
  <h2>Students not enrolled to <%= @curriculum.name %></h2>
  <table>
    <% @students.each do |student| %>
    <tr>
      <th><%= student.name %></th>
      <% if @enrolled_students.include? student %>
      <td>Enrolled</td>
      <% else %>
      <td><%= link_to "Enroll", curriculum_enrollments_path(@curriculum, student_id: student.id), method: :post %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
